body{
  background: #2C2B3D;
}
.page{
  width: 1280px;
  margin: 71px auto 0;
 
}
header{
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
main{
  display: flex;
  align-items: auto;
  justify-content: space-between;
  margin-bottom: 150px;
}
.texto{
  text-align: center;
  color: #7D7987
  ;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 64px;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  
  text-decoration: none;
  color: white;
}

.opções_link{
  text-decoration: none;
  color: white;
}



h1{
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;
  color: #FFFFFF;
}

span{
  color: #00BFA6;
}

p{
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 28px;
}

footer{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF
  
  ;
}

li a{
  text-decoration: none;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

.cadeado{
  margin-right: 150%;
  
}

b{
  color: #C2C2C2
;
}

